<!DOCTYPE html>
<html>
  <head>
    <title>FastMeeting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <div class="content">
        <div class="left">
          <ul class="nav flex-column">
            <%
            @rooms.each do |room|
            %>
            <li class="nav-item">
              <a class="nav-link active" href="/<%= room.id %>">
                <%= room.name %>
              </a>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li class="nav-item">
              <%= @user.id %>:<%= @user.username %>:<%= @room_id %>
            </li>
            
          </ul>
        </div>
        <div class="contents d-flex">
          <%= yield %>
        </div>
    </div>

    <!--<% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>-->
  <% else %>
    <%# <div class="d-flex align-items-center"> %>
      <%= yield %>
    <%# </div> %>
  <% end %>
  </body>
</html>
